<div *ngIf="user">

    <label>Information: </label>
    <input [(ngModel)]="user.name">
    <input [(ngModel)]="user.username">
    <input [(ngModel)]="user.email">
    <input [(ngModel)]="user.phone">

</div>

<button (click)="goBack()">Go back!</button>

<hr>
Lista de años:
<ul class="users">
    <li *ngFor="let anio_ of anios">
      <span>{{ anio_.Anio }}</span> -
      <span>{{ anio_.Actual }} </span>     
    </li>
  </ul> 

<hr>
Lista de post:
<ul class="users">
    <li *ngFor="let post_ of posts">
      <span class="badge">{{ post_.userId }}</span> -
      <span>{{ post_.title }} </span> -      
    </li>
  </ul> 

<!--<hr>
<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>-->

<ngb-accordion>
    <ngb-panel *ngFor="let item of users">
        <ng-template ngbPanelTitle>
          Título: {{ item.name}}     
        </ng-template>
        <ng-template ngbPanelContent>
            {{ item | json}}
        </ng-template>    
    </ngb-panel>    
</ngb-accordion>
