<div *ngIf="user">

    <label>Information: </label>
    <input [(ngModel)]="user.name">
    <input [(ngModel)]="user.username">
    <input [(ngModel)]="user.email">
    <input [(ngModel)]="user.phone">

</div>

<button (click)="goBack()">Go back!</button>

<hr>
<!--Lista de años:
<ul class="users">
    <li *ngFor="let anio_ of anios">
      <span>{{ anio_.Anio }}</span> -
      <span>{{ anio_.Actual }} </span>     
    </li>
  </ul> 

<hr>
Lista de post:
<ul class="users">
    <li *ngFor="let post_ of posts">
      <span class="badge">{{ post_.userId }}</span> -
      <span>{{ post_.title }} </span> -      
    </li>
  </ul> -->

<<hr>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
    <span>Este es un spam</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-sx btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>